.page-container {
    display: flex;
    justify-content: center;
    margin-top: 100px; /* Adjust the height of your navbar */
    height: calc(100vh - 60px); /* Subtract the height of your navbar from the viewport height */
  }
  
  .page-content {
    text-align: center;
  }
  
  .paragraph-container {
    max-width: 1000px; 
    margin: 0 auto; 
  }
  
  .paragraph-container p {
    text-align: center; 
  }

