.page-container {
  display: flex;
  justify-content: center;
  margin-top: 100px; /* Adjust the height of your navbar */
  height: 80vh; /* Subtract the height of your navbar from the viewport height */
  position: relative;
  left: 5%;
  width: 95%;
}

.page-content {
  text-align: center;
}


.head1 {
    text-align: center;
    margin-top: -5%;
    color: orange;
    font-family: "Allison", cursive;
    font-weight: 100;
    font-size: 1.75rem;
    padding-top: 50px;
}

.head2 {
  font-size: 3rem;
  font-weight: 400;
}

.about-image-separator {
  position: relative;
}
  
.paragraph-container {
  max-width: 1000px; 
  margin: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px; 
}
  
.paragraph-container {
  text-align: center; 
}

.paragraph-container p{
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: sans-serif;
    word-spacing: 2px;
    font-size: 1rem;
}

@media screen and (max-width: 940px){

  .page-container {
      left: 40px;
      width: calc(100% - 40px);
  }
}

@media screen and (max-width: 500px) {
  .page-container {
      left: 30px;
      width: calc(100% - 30px);
  }
}

@media screen and (max-width: 400px) {
  .head1{
    font-size: 30px;
  }

  .head2{
    font-size: 60px;
  }
}

@media screen and (max-width: 400px) {
  .head1{
    font-size: 25px;
  }

  .head2{
    font-size: 55px;
  }

  .about-image-separator {
    height: 40px;
    width: 60px;
  }
}