.faq-page {
    font-family: "Jost", sans-serif;
}

.faq-container {
  display: flex; 
  flex-direction: column;
  margin-left: 8%;
}

.faq-navbar h3 {
  text-align: center;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 10px;
  list-style-type: none;
  padding: 10px;
}

.faq-grid li {
  text-align: center;
  margin: 5px;
}

.faq-navbar ul li a {
  border: solid white; 
  padding: 5px;
  border-radius: 10px;
}

.faq-container div h2 {
  margin-top: 10px ;
}
.topic-head {
  text-decoration: underline;
}
.question {
  margin-top: 10px;
}

.faq-footer{
   /* leave in center or push to left?   margin-right: 75%; */
    margin-top: 20px;
    text-align: center;
}

.faq-header {
    text-decoration: underline;
    color: orange;
}
.faq-footer h3 {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .faq-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 750px) {
    .faq-container {
      margin-left: 70px;
    }
}

@media screen and (max-width: 400px) {
  .faq-container {
    margin-left: 30px;
  }
}
