body{
    overflow-x: hidden;
}

.imageDiv{
    z-index: -100;
    position: relative;
}

.backgroundImage{
    position: absolute;
    width: 99vw;
}

.orangeHeader{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    color: orange;
    font-family: Snell Roundhand, cursive;
    font-weight: 100;
    font-size: clamp(1rem, 4vw, 5rem);
}

.whiteHeader{
    position: absolute;
    margin-top: 16%;
    margin-left: 10%;
    font-family: Bebas Neue;
    font-size: clamp(1rem, 4vw, 6rem);
    font-weight: 100;
}

.homeButton{
    position: absolute;
    margin-top: 22%;
    margin-left: 40%;
    width: max(20%, 125px);
    height: max(5vh, 40px);
    color: white;
    font-family: Bebas Neue;
    font-weight:lighter;
    font-size: clamp(1rem, 2vw, 1.75rem);
    background: transparent;
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
}

.homeButton:hover{
    background-color: rgb(231, 151, 4);
    transition: 0.3s;
}

.homeButton:not(:hover){
    background-color: transparent;
    transition: 0.3s;
}
 




