.payment-header {
    text-align: center;
}

.payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.payment-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-info, .payment-form {
    background: #0D0D0C;
    flex: 0 0 calc(40%);
    padding-top: 20px;
}

#firstName, #lastName {
    width: 50%;
}

#address {
    width: 100%;
}

#expiry, #cvv {
    width: 30%;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.payment-button {
    background-color: #CA883B;
    width: 60%;
    height: 150%;
    border-radius: 5px;
}

.payment-button:hover {
    background-color: rgb(231, 151, 4);
    transition: 0.3s;
}

@media screen and (max-width: 600px){
    .payment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cart-info, .payment-form {
        margin: 20px;
    }
}

h1{
	text-align: center;
}

.FormGroup {
	margin: 0 15px 20px;
	border-style: none;
	background-color: #2d3338;
	border-radius: 4px;
}

.FormRow {
	display: flex;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #212529;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.paymentButton {
	display: block;
	font-size: 17px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px;
	background-color: #ffa646;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	border: none;
}

.paymentButton:hover{
    background-color: #ED7D31;
    transition: .2s
}

.paymentButton:active {
	transform: scale(0.98);
}

.paymentButton.cancel{
    background-color: #2d3338;
    width: 25%;
}

.paymentButton.cancel:hover{
    background-color: #212529;
}

