.pbfashion-page {
    position: relative;
    left: 5%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.Middle-Subscribe {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    text-align: center;
    margin-left: 25%;
}
  
.Middle-Subscribe button {
    margin-left: 20px; /* Push the button to the right */
}

.svg {
    font-size: 35px;
    padding-right: 10px;
}

.Subscribe {
    background-color: orange;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 100px;
}

.Top-Featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.Featured-Info {
    width: 100%;
}

.Featured-Image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Image {
    max-width: 70%;
}

.Fashion {
    display: flex;
    flex-direction: row;
}

.Current-Popular-Item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
}

.BigOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Side {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 3%;
    max-width: 50%;
}

.SideContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.Small-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
}

.Pop-Image {
    max-width: 90%;
    max-height: 70%;
}

.Small-Pop-Image {
    max-width: 50%;
    max-height: 50%;
}

.Fashion-Articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.Article-Image {
    max-width: 80%;
    max-height: 80%;
}

.Beauty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    
}

.Cover {
    display: flex;
    flex-direction: row;
    background-color: rgb(64, 64, 64);
    position: relative;
    width: 110vh;
    height: 65vh;
    left: 25%
}

.Cover-text {
    padding-top: 25%;
    padding-left: 3%;
    margin: 7px;
    justify-content: center;
    align-content: center;
    text-align: left;
    max-width: 50%;
    max-height: 50%;
}

.Cover-Image {
    max-width: 50%;
    max-height: 50%;
}

.Cover-Image img {
    max-width: 100%;
    height: 200%;
}

.Beauty-Articles {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.Beauty-Articles div {
    max-width: 50%;
    max-height: 50%;
}

.Beauty-Article-Image {
    max-width: 90%;
    max-height: 90%;
}

.Culture {
    padding-top: 3%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
}

.Culture-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 60%;
    max-height: 60%;
}

.Culture-Container img {
    max-width: 100%;
    max-height: 100%;
}

.Culture-Side {
    position: relative;
    left: 10%
}

.Culture-Small-Pop-Image {
    max-width: 100%;
    max-height: 100%;
}

.Culture-SideContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.Culture-SideContainer {
    max-width: 50%;
    max-width: 50%;
}

.Celebrities {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 3%;
}

.Celebrities div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px;
}

.Celebrities div img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

@media screen and (max-width: 320px) {
    .pbfashion-page {
        position: relative;
        left: 17%;
        width: 82%;
        display: flex;
        flex-direction: column;
    }

    .Middle-Subscribe {
        display: none;
        visibility: hidden;
    }

    .Top-Featured {
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .Featured-Image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .Fashion {
        flex-direction: column;
    }

    .Current-Popular-Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Side {
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .SideContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px; /* Add space between items */
    }

    .Small-text {
        text-align: center;
    }

    .Culture {
        padding-left: 0; /* Remove padding for smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .Culture-Container {
        max-width: 100%; /* Ensure full width */
    }

    .Culture-Side {
        left: 0; /* Reset position */
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .Celebrities {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
    }

    .Celebrities div {
        width: 50%; /* Make each celebrity take up half of the container's width */
        margin-bottom: 20px; /* Add space between items */
    }

    .Cover {
        display: flex;
        flex-direction: row;
        background-color: rgb(64, 64, 64);
        position: relative;
        height: auto;
        width: auto;
        left: 0;
        overflow: hidden;
    }

    .Small-Pop-Image {
        max-width: 100%;
    }

    .Cover-text {
        padding-top: 0;
        font-size: 7px;
        width: 75%;
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Culture-Side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Culture-SideContainer {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-width: 376px) {
    .pbfashion-page {
        position: relative;
        left: 15%;
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .Middle-Subscribe {
        display: none;
        visibility: hidden;
    }

    .Top-Featured {
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .Featured-Image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .Fashion {
        flex-direction: column;
    }

    .Current-Popular-Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Side {
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .SideContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px; /* Add space between items */
    }

    .Small-text {
        text-align: center;
    }

    .Culture {
        padding-left: 0; /* Remove padding for smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .Culture-Container {
        max-width: 100%; /* Ensure full width */
    }

    .Culture-Side {
        left: 0; /* Reset position */
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .Celebrities {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
    }

    .Celebrities div {
        width: 50%; /* Make each celebrity take up half of the container's width */
        margin-bottom: 20px; /* Add space between items */
    }

    .Cover {
        display: flex;
        flex-direction: row;
        background-color: rgb(64, 64, 64);
        position: relative;
        height: auto;
        width: auto;
        left: 0;
        overflow: hidden;
    }

    .Small-Pop-Image {
        max-width: 100%;
    }

    .Cover-text {
        padding-top: 0;
        font-size: 7px;
        width: 75%;
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Culture-Side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Culture-SideContainer {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .pbfashion-page {
        position: relative;
        left: 15%;
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .Middle-Subscribe {
        display: none;
        visibility: hidden;
    }

    .Top-Featured {
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .Featured-Image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .Fashion {
        flex-direction: column;
    }

    .Current-Popular-Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Side {
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .SideContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px; /* Add space between items */
    }

    .Small-text {
        text-align: center;
    }

    .Culture {
        padding-left: 0; /* Remove padding for smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .Culture-Container {
        max-width: 100%; /* Ensure full width */
    }

    .Culture-Side {
        left: 0; /* Reset position */
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .Celebrities {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
    }

    .Celebrities div {
        width: 50%; /* Make each celebrity take up half of the container's width */
        margin-bottom: 20px; /* Add space between items */
    }

    .Cover {
        display: flex;
        flex-direction: row;
        background-color: rgb(64, 64, 64);
        position: relative;
        height: auto;
        width: auto;
        left: 0;
        overflow: hidden;
    }

    .Small-Pop-Image {
        max-width: 100%;
    }

    .Cover-text {
        padding-top: 0;
        font-size: 7px;
        width: 75%;
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Culture-Side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Culture-SideContainer {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .pbfashion-page {
        position: relative;
        left: 8%;
        width: 92%;
        display: flex;
        flex-direction: column;
    }

    .Middle-Subscribe {
        display: none;
        visibility: hidden;
    }

    .Top-Featured {
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .Featured-Image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .Featured-Info {
        margin-top: 20px;
    }

    .Fashion {
        flex-direction: column;
    }

    .Current-Popular-Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Side {
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .SideContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px; /* Add space between items */
    }

    .Small-text {
        text-align: center;
    }

    .Culture {
        padding-left: 0; /* Remove padding for smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .Culture-Container {
        max-width: 100%; /* Ensure full width */
    }

    .Culture-Side {
        left: 0; /* Reset position */
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .Celebrities {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
    }

    .Celebrities div {
        width: 50%; /* Make each celebrity take up half of the container's width */
        margin-bottom: 20px; /* Add space between items */
    }

    .Cover {
        display: flex;
        flex-direction: row;
        background-color: rgb(64, 64, 64);
        position: relative;
        height: auto;
        width: auto;
        left: 0;
        overflow: hidden;
    }

    .Small-Pop-Image {
        max-width: 100%;
    }

    .Cover-text {
        padding-top: 0;
        font-size: 15px;
        width: 75%;
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Culture-Side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Culture-SideContainer {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .pbfashion-page {
        position: relative;
        left: 8%;
        width: 92%;
        display: flex;
        flex-direction: column;
    }

    .Middle-Subscribe {
        display: none;
        visibility: hidden;
    }

    .Top-Featured {
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .Featured-Image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .Featured-Info {
        margin-top: 20px;
    }

    .Fashion {
        flex-direction: column;
    }

    .Current-Popular-Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Side {
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .SideContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px; /* Add space between items */
    }

    .Small-text {
        text-align: center;
    }

    .Culture {
        padding-left: 0; /* Remove padding for smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .Culture-Container {
        max-width: 100%; /* Ensure full width */
    }

    .Culture-Side {
        left: 0; /* Reset position */
        padding-left: 0; /* Remove padding for smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .Celebrities {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
        left: -20px;
    }

    .Celebrities div {
        width: 50%; /* Make each celebrity take up half of the container's width */
        margin-bottom: 20px; /* Add space between items */
    }

    .Cover {
        display: flex;
        flex-direction: row;
        background-color: rgb(64, 64, 64);
        position: relative;
        height: auto;
        width: auto;
        left: 0;
        overflow: hidden;
    }

    .Small-Pop-Image {
        max-width: 100%;
    }

    .Cover-text {
        padding-top: 0;
        font-size: 18px;
        width: 75%;
    }

    .Cover-Image img {
        max-width: 100%; /* Ensure cover image fills the width of its container */
        height: auto; /* Maintain aspect ratio */
    }

    .Culture-Side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Culture-SideContainer {
        flex-direction: column;
        max-width: 100%;
    }
}