* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

.GamingMainContainer {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-content: center;
    text-align: center;
}

.GamingSidebar {
    width: 40dvh; 
    height: 86dvh;
    background-color: rgb(0, 0, 0);
    flex-shrink: 0;
    align-content: left;
    text-align: left;
    position: fixed;
    left: -40vh;
    transition: left 0.3s ease;
    padding-top: 10px;
    z-index: 2;
}

.GamingSidebar h1 {
    color: #ffa646;
}

.GamingSidebar.open {
    left: 0;
}

.GamingSidebar ul {
    list-style: none;
}

.GamingSidebar li {
    margin: 1px;
    font-size: 30px;
}

.GamingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
    overflow-x: hidden; /* Prevent horizontal overflow on smaller screens */
}


.sidebar-toggle {
    position: absolute;
    top: 5px;
    left: 10px;
    background: none;
    color: white;
    border: none;
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 2rem;
    z-index: 5;
}

.ReviewGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Gap between boxes */
    padding: 20px; /* Padding for better visualization */
}

.ReviewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22dvh;
    padding: 10px; /* Padding for better visualization */
}

.ReviewBox img {
    height: 100%; /* Ensure images fit inside their containers */
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.ReviewBox button {
    background-color: transparent; /* Make buttons transparent */
    border: none; /* Remove button border */
    color: white; /* Set button text color */
    padding: 5px 10px; /* Adjust button padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s, background-color 0.3s; /* Add transition effect */
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
}

/* Change button text color to orange on hover */
.ReviewBox button:hover {
    background-color: transparent;
    color: orange;
}

/* Flash white on button click */
.ReviewBox button:active {
    color: rgb(238, 9, 9);
}

.GamingSidebar button {
    background-color: transparent; /* Make buttons transparent */
    border: none; /* Remove button border */
    color: white; /* Set button text color */
    padding: 5px 10px; /* Adjust button padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s, background-color 0.3s; /* Add transition effect */
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.GamingSidebar button:hover {
    background-color: rgba(255, 166, 0, 0.611);
}

.GamingSidebar button:active {
    color: red;
}

@media only screen and (max-width: 768px) {
    .GamingMainContainer {
        flex-direction: column;
        height: auto;
    }


    .GamingSidebar {
        align-content: center;
        text-align: center;
        height: 100%;
        width: 40%;
    }

    .sidebar-toggle {
        right: 10px;
        z-index: 3;
    }

    .GamingContainer {
        height: 100%;
        width: 100%;
    }

    .ReviewGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust columns for smaller screens */
    }

    .ReviewBox {
        height: auto; /* Adjust height for smaller screens */
        margin-bottom: 20px; /* Add margin between review boxes */
    }

    .ReviewBox img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }
}

@media screen and (max-width: 940px){

}
  
@media screen and (max-width: 500px) {
    

}
  
@media screen and (max-width: 400px) {

}