.events-page{
    overflow-x: hidden;
    position: relative;
    left: 60px;
    width: calc(100% - 60px);
    height: auto;
}

.event-head {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 2px solid white;
}


.sub-header {
    margin-top: 40px;
}

.upcoming-events,
.popular-near-events {
    text-align: center;
    font-size: large;
}

.events {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.events .event-card {
    flex: 0 0 calc(20% - 40px); /* Adjust the width of each event card */
    margin: 10px;
    border: 1px solid #ccc; /* Add gray border */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    padding: 10px; /* Optional: Add padding for spacing inside the card */
}

.events .event-card img{
    width: 100%;
    object-fit: cover;
    height: auto;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .events .event-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 940px){

    .events-page {
        left: 40px;
        width: calc(100% - 40px);
    }
  }
  
  @media screen and (max-width: 500px) {
    .events-page {
        left: 30px;
        width: calc(100% - 30px);
    }
    .event-head{
        margin: 20px 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
  }