.pbtv-page{
  margin-left: 60px;
  width: calc(100% - 60px);
}

.pbtv-head {
    display: none;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.pbtv-nav {
    display: flex;

    justify-content: center;
    align-items: center;
}

.pbtv-nav p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.pbtv-featured {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    background: linear-gradient(to bottom, orange, black);
}

.pbtv-featured .featured-video  {
    width: 100%;
    height: 400px;
    opacity: 70%;
    object-fit: cover;
}


.pbtv-featured .featured-video::-webkit-media-controls{
    display: none;
}

.featured-play-button{
  position: absolute;
  top: 80%;
  left: 30px;
  width: 72px;
  height: 36px;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  background-color: rgb(255, 254, 254);
}

.featured-play-button:hover{
  cursor: pointer;
}

.featured-more-info-button{
  position: absolute;
  top: 80%;
  left: 120px;
  width: 110px;
  height: 36px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  color: white;
  background-color: #888;
}

.featured-more-info-button:hover{
  cursor: pointer;
}

h3{
  width: fit-content;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
  align-items: center;
}

.arrow-icon{
  font-size: 1.5rem;
  padding-top: 5px;
}

.pbtv-featured-card-container {
    width: 99%;
    padding-left: 1px;
    padding-top: 1px;
    display: flex;
    overflow-x: scroll;
}

.pbtv-featured-card-container::-webkit-scrollbar{
  display: none;
}

.pbtv-featured-card-container > *:not(:first-child){
  margin-left: 20px;
}

#top-movies .ranking{
  font-size: 16rem;
}

.pbtv-card {
    min-width: max(400px, 20%);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the video fills the card container */
  }

  .pbtv-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px orange;
  }
  
  .pbtv-card video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .pbtv-card .mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .pbtv-card .mute-button i {
    color: white;
  }
  
  .pbtv-card h2 {
    font-size: 18px;
    margin: 5px;
  }
  
  .pbtv-card p {
    font-size: 14px;
    color: #888;
    margin: 5px;
  }
  
  .pbtv-card video {
    width: 100%; /* Ensure all images have the same width */
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover;
  }

  .vid-view-time p:not(:last-child)::after {
    content: '\2022'; 
    position: relative;
    margin-left: 5px;
  }

  .vid-view-time {
    display: flex;
    flex-direction: row;
  }