/* Search.css */

.searchContainer {
    margin-left: 4%;
    margin-right: 20%;
    position: relative;
    width: 100%;
    padding-top: 10px;
    margin-top: 8px;
    /* Or the width that fits well in your navbar */
}

.searchBar {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    /* Slightly transparent black for a sleek look */
    border-radius: 25px;
    /* Rounded borders */
    padding: 5px;
}

.searchInput {
    width: 100%;
    border: none;
    background: transparent;
    border-radius: 25px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    /* White text color */
    font-size: 16px;
    /* Adjust the size as needed */
}

.searchButton {
    padding: 10px;
    color: #FFF;
    /* White color for the icon */
    background: #212529;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0rem 10rem 10rem 0rem;
}

/* Style for the search icon */
.faSearch {
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    /* Adjust the size as needed */
    padding-right: 5px;
}

/* Adjustments for the input placeholder */
.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
    /* Light grey color for the placeholder */
}

/* Removing the focus outline to maintain the style on click */
.searchInput:focus {
    outline: none;
}

/* Adding transition for a smooth color change on button hover */
.searchButton:hover {
    background: rgba(255, 255, 255, 0.2);
    /* Light highlight on hover */
}



.suggestion-dropdown {
  position: absolute;
  background-color: rgb(28, 23, 23);
  border-radius: 1.5rem;
  max-height: 200px;
  overflow-y: auto;
  z-index: 5;
  width: 100%;
  top: 80%;
  left: 0;
  padding: 2px;
  box-sizing: border-box;
}

.suggestion-dropdown-item {
  padding: 10px 20px;
  color: #FFF;
  cursor: pointer;
}

.suggestion-dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* .back.invisible{
    background: black;
    color: white;
    display: none;
}

.back.visible{
    display: inline;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
} */

.clear{
    position: absolute;
    right: 50px;
    top: 34%;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    padding: 5px;
}

.clear.invisible{
    visibility: hidden;
}

.clear.visible{
    visibility: visible;
}

.clear.visible:hover{
    background-color: #212529;
    border-radius: 10rem;
    cursor: pointer;
}

.filterform-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the container is on top of other elements */
  }

.filterform-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.filterform-close {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color:white;
    cursor: pointer;
}
  
  .filterform-content {
    background-color: rgb(54, 52, 52); /* Dark gray background for the content */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 600px; /* Set a maximum width for better responsiveness */
    width: 100%; /* Make the content take up the full width of its parent */
  }
  
  .filterform-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555555;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px; /* Add some spacing between buttons */
    border-radius: 10px;
  }
  
  .filterform-button:hover {
    background-color: #8a8a8a;
  }

  .filter-button {
    position: absolute;
    display: flex;
    top: 3.5vh;
    padding: 10px 20px;
    font-size: 16px;
    background-color:transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners if desired */
  }
  
  .filter-button:hover {
    background-color: #4d524d; /* Slightly darker shade on hover */
  }

  .filterform-reset-button {
    display: block;
    margin: 20px auto 0 auto; /* Add spacing from the top and center horizontally */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filterform-reset-button:hover {
    background-color: #8a8a8a;
  }

  @media screen and (max-width:940px) {
    .clear {
        top: 34%;
    }

    .searchContainer{
        margin-left: 0%;
        margin-right: 20%;
    }

    .searchBar {
        position: relative;
        bottom: 7px;
        left: 40px;
    }
}


@media screen and (max-width: 300px) {
    .clear{
        right: 20%;
        top: 18%;
    }

    .logo img{
        width: 140px;
        margin-top: 5px;
    }
    .searchContainerExpanded{
        max-width: 200px;
        margin-left: 19px !important;
    }
    .searchButtonExpanded{
        margin-left: 160px !important;
    }
    .searchContainer{
        padding-left: 0px !important;
    }
    .searchButton{
        margin-left: -5px !important;
        position: relative;
        left: -90%;
    }
}

/* Stopping the search input box from taking up screen space on mobile and small screens */
@media screen and (max-width: 430px){
    .searchContainer{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 0px;
        transition: 1s;
    }
    .suggestion-dropdown{
        margin-top: 20px;
    }
    .clear{
        top: 18%;
    }
}

/* Stoping the search input box from taking up screen space on mobile and small screens */
@media screen and (max-width: 560px){
    .searchInput{
        display: none;
    }
    .searchButton{
        margin-top: 5px;
        padding: 10px;
        border-radius: 10rem;
        background: transparent;
    }
    .faSearch{
        padding: 2px;
    }
    .searchContainerExpanded{
        position: absolute;
        margin-top: 15px;
        background-color: transparent;
        height: 60px;
        width: 290px;
        margin-left: 50px;
        z-index: 5;
        transition: 0.7s;
    }
    .searchBarExpanded{
        height: 60px;
    }
    .searchInputExpanded{
        color: #FFF;
        background-color: black;
        width: 290px;
        height: 60px;
        transition: 0.7;
        font-size: 1rem;
    }
    .searchInputExpanded::placeholder{
        color: rgba(255, 255, 255, 0.5);
    }

    .searchButtonExpanded{
        padding: 10px;
        padding-left: 5px;
        color: #FFF;
        /* White color for the icon */
        background: #212529;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: -70px;
        margin-left: 260px;
        height: 60px;
        justify-content: center;
        border-radius: 0rem 10rem 10rem 0rem;
    }
    .filter-button-expanded {
        display: none;
    }
    .filter-button {
        position: absolute;
        display: flex;
        top: 1.5vh;
        padding: 10px 5px;
        font-size: 16px;
        background-color:transparent;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-indent: -9999px;
    }
}

@media screen and (max-width:560px) {
    .searchContainer{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 0px;
        transition: 1s;
    }
    .searchInput{
        display: none;
    }
    .searchButton{
        padding: 10px;
        border-radius: 10rem;
        background: transparent;
    }
    .faSearch{
        padding: 2px;
    }
    .searchContainerExpanded{
        position: absolute;
        margin-top: 10px;
        background-color: transparent;
        height: 60px;
        width: 290px;
        margin-left: 20px;
        z-index: 5;
        transition: 0.7s;
    }
    .searchBarExpanded{
        height: 60px;
    }
    .searchInputExpanded{
        color: #FFF;
        background-color: black;
        width: 290px;
        height: 60px;
        transition: 0.7;
        font-size: 1rem;
    }
    .searchInputExpanded::placeholder{
        color: rgba(255, 255, 255, 0.5);
    }

    .searchButtonExpanded{
        padding: 10px;
        margin-left: 5px;
        color: #FFF;
        /* White color for the icon */
        background: #212529;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: -70px;
        margin-left: 260px;
        height: 60px;
        justify-content: center;
        border-radius: 0rem 10rem 10rem 0rem;
    }
    .clear{
        top: 45%;
        right: 40px;
    }
}

@media screen and (max-width: 450px) {
    .searchContainer {
        position: relative;
        right: 10px;
    }
}

@media screen and (max-width: 400px) {
    .searchContainer {
        position: relative;
        right: 20px;
    }
}

@media screen and (max-width: 410px) {
    .searchContainer {
        position: relative;
        right: 60px;
    }
}

@media screen and (min-width: 941px) and (max-width: 1365px) {
    .filter-button {
        position: absolute;
        display: flex;
        top: 3.5vh; /* Align with the search bar */
        padding: 10px 20px;
        font-size: 16px;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}

@media screen and (min-width: 561px) and (max-width: 940px) {
    .filter-button {
        position: absolute;
        display: flex;
        top: 1.9vh; /* Adjust the vertical position as needed */
        padding: 10px 15px;
        font-size: 16px;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-indent: -9999px;
    }
    
}

