/* Search.css */

.searchContainer {
    position: relative;
    width: 100%;
    padding-top: 10px;
    /* Or the width that fits well in your navbar */
}

.searchBar {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    /* Slightly transparent black for a sleek look */
    border-radius: 25px;
    /* Rounded borders */
    padding: 5px;
}

.searchInput {
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 20px;
    color: #FFF;
    /* White text color */
    font-size: 16px;
    /* Adjust the size as needed */
}

.searchButton {
    padding: 10px;
    color: #FFF;
    /* White color for the icon */
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the search icon */
.faSearch {
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    /* Adjust the size as needed */
}

/* Adjustments for the input placeholder */
.searchInput::placeholder {
    color: #DDD;
    /* Light grey color for the placeholder */
}

/* Removing the focus outline to maintain the style on click */
.searchInput:focus {
    outline: none;
}

/* Adding transition for a smooth color change on button hover */
.searchButton:hover {
    background: rgba(255, 255, 255, 0.2);
    /* Light highlight on hover */
}

.suggestion-dropdown {
  position: absolute;
  background-color: rgb(28, 23, 23);
  border-radius: 25px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 5px;
  box-sizing: border-box;
}

.suggestion-dropdown-item {
  padding: 10px 20px;
  color: #FFF;
  cursor: pointer;
}

.suggestion-dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Stoping the search input box from taking up screen space on mobile and small screens */
@media screen and (max-width: 560px){
    .searchInput{
        display: none;
    }
    .searchButton{
        padding: 5px;
        padding-top: 20px;
    }
}

