.subscribe-page {
  margin-left: 60px;
  width: calc(100% - 60px);
}

.subscribe-header {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border-bottom: 2px solid white;
}

.subscription-plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-right: 50px;
}

.subscription-card {
  width: 100%;
  text-align: center;
  font-size: larger;
  flex: 0 100 calc(20%);
  /* Adjust the width of each event card */
  margin: 20px;
  border: 1px solid inherit;
  border-radius: 30px;
  padding: 50px;
  cursor: pointer;
}

.card-title,
.benefit,
.access {
  font-weight: normal;
  font-family: 'Newsreader';
}

.card-title {
  margin-bottom: 10px;
}

.benefit {
  margin-top: 40px;
  margin-bottom: 40px;
}

.access {
  margin-top: 20px;
}

.line-container {
  display: flex;
  justify-content: center;
}

.line {
  width: 30%;
  border: 1;
  border-top: 2px solid #ccc;
}

.restriction {
  margin-top: 10px;
  font-weight: normal;
  font-family: 'Newsreader';
  font-size: .7rem;
}

@media screen and (max-width: 940px) {

  /* iPads and tablets */
  .subscribe-page {
    margin-left: 40px;
    width: calc(100% - 40px);
  }

  .subscription-plans {
    font-size: .7rem;
  }
}

@media screen and (max-width: 500px) {

  /* Mobile */
  .subscribe-page {
    position: relative;
    margin-left: 30px;
    width: calc(100% - 30px);
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .benefit,
  .access {
    font-size: 0.75rem;
    margin: 4px 0;
  }

  .restriction {
    font-size: 0.65rem;
    margin-top: 6px;
  }

  .line-container {
    margin: 6px 0;
  }

}

@media screen and (max-width: 400px) {}