.subscribe-header {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border-bottom: 2px solid white;
}

.subscription-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscription-card {
  text-align: center;
  font-size: larger;
  flex: 0 100 calc(20%); /* Adjust the width of each event card */
  margin: 20px;
  border: 1px solid inherit;
  border-radius: 30px;
  padding: 50px;
  cursor: pointer;
}

.card-title,
.benefit,
.access {
  font-weight: normal;
  font-family: 'Newsreader';
}

.card-title {
  margin-bottom: 10px;
}

.benefit {
  margin-top: 40px;
  margin-bottom: 40px;
}

.access {
  margin-top: 20px;
}

.line-container {
  display: flex;
  justify-content: center;
}

.line {
  width: 30%;
  border: 1;
  border-top: 2px solid #ccc;
}
