.profile-page {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: larger;
}

.profile-info {
    max-width: 600px;
    margin: 0 auto;
}

.profile-icon {
    width: 100px; /* Adjust the size of the container */
    height: 100px;
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow content to ensure circular shape */
    margin: 0 auto; /* Center the icon */
}

.profile-icon img {
    width: 100%; /* Make the image fill the container */
    height: auto;
    display: block;
}

.profile-title h1 {
    margin-bottom: 20px;
    text-align: center;
}

.label {
    margin-bottom: 5px;
}

/* Style for the file input with the class 'NewProfileImage' */
.UploadProfileImage {
    display: flex; /* Ensures it is treated as a block element */
    flex-direction: column;
    width: auto; /* Let it take its natural width */
    padding: 10px 20px; /* Padding from top and bottom, and sides */
    margin: 20px auto; /* Add margin from top and bottom, center it horizontally */
    border-radius: 5px; /* Add a border radius */
    color: white; /* Set the text color to black */
    cursor: pointer; /* Show cursor pointer on hover */
    text-align: center; /* Center the text */
    outline: none; /* Remove the default outline */
    border: none; /* Remove border */
}

input.NewProfileImage {
    display: block; /* Ensures it is treated as a block element */
    width: auto; /* Let it take its natural width */
    margin: 5px auto; /* Add margin from top and bottom, center it horizontally */
    cursor: pointer; /* Show cursor pointer on hover */
    text-align: center; /* Center the text */
}

.Save-Image {
    height: 50px;
    width: auto;
    background-color: orange;
    font-size: 30px;
    font-family: Bebas Neue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* Custom styles for the PrimeReact Dialog */
.p-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the dialog horizontally */
    align-items: center; /* Center the dialog vertically */
}

.p-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content within the dialog */
    align-items: center; /* Center the content vertically */
}


input[class="change-user-info"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

input[class="change-user-info"]:focus {
    outline: none;
    border-color: orange;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff7f00;
}


@media screen and (max-width: 940px){

    .profile-page {
        position: relative;
        left: 5%;
        width: 95%;
    }
}
  
@media screen and (max-width: 500px) {
    .profile-page {
        position: relative;
        left: 11%;
        width: 87%;
    }
}
  
@media screen and (max-width: 400px) {
  
    .profile-page {
        position: relative;
        left: 13%;
        width: 86%;
    }
}