.Sidebar{
    margin-top: 35px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 60px;
    text-align: center;
}

.SidebarIconsDiv{
    cursor: pointer;
    height: 100%;
}

.SidebarIconsv2 {
    font-size: small;
}

.Sidebar ul {
    margin-top: 100%;
    height: 100%;
    scroll-behavior: smooth;
    padding-bottom: 150px;
}

.Sidebar ul::-webkit-scrollbar{
    width: 0px;
    display: none;
}

.Sidebar li {
    margin: 1px;
    margin-top: 10px;
    font-size: 30px;
}

.Sidebar li:hover {
    font-size: 50px;
    transition: 0.5s;
}

.Sidebar li:not(:hover){
    font-size: 30px;
    transition: 0.5s;
}

.menu-bars {
    font-size: 2rem;
    background: none;
}

.close  {
    font-size: 2rem;
    position: relative;
    top: 5px;
    left: 5px;
}

.nav-menu {
    z-index: 6;
    background-color: black;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -120%;
    transition: 850ms;
    overflow: auto;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    padding-top: 30px;
    margin-left: -12px;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: min-content;
}

.nav-text a {
    text-decoration: none;
    color: white;
}

.nav-text a:hover {
    text-decoration: underline;
}

.nav-menu-items {
    padding-top: 23%;
    width: 100%;
    overflow-y: scroll;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Sidebarlogo {
    position: absolute;
    max-height: 65%;
    max-width: 65%;
    left: 25%;
    top: 2%;
}


span {
    font-size: 25px;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}



@media screen and (max-width: 400px) {
    .menu-bars{
        font-size: 1.5rem;
    }
    .Sidebar{
        padding-top: 15px;
    }
}

@media  screen and (max-width: 500px) {
    .Sidebar{
        width: 30px !important;
    }
    .Sidebar li{
        margin-top: 20px;
    }
    .Sidebar li:hover {
        font-size: 30px !important;
    }
    
    .Sidebar li:not(:hover){
        font-size: 20px !important;
    }
}

@media screen and (max-width: 940px){
    .Sidebar{
        width: 40px;
    }
    .Sidebar li:hover {
        font-size: 40px ;
    }
    
    .Sidebar li:not(:hover){
        font-size: 30px ;
    }
}



