* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width:thin;
  scrollbar-color: #BBB black;
}

body {
  font-family: "Bebas Neue", sans-serif;
  background-color: black;
  color: white;
}



